* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    height: 100vh;
    width: 100%;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    background-color: black;
    padding: 26px;
    border-radius: 20px;
    /* box-shadow: 0px 80px 50px --30px rgba(red, green, blue, alpha); */
}

input {
    width: 330px;
    padding: 25px;
    margin: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 45px;
    text-align: right;
    color: white;
}

input::placeholder {
    color: white;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    background-color: grey;
    font-size: auto;
    /* font-weight: 600; */
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.otherButton {
    background-color: darkgray;
    color: white;
}

.operator {
    background-color: orange;
    color: white;
}

.equal {
    width: 144px;
    color: white;
    background-color: orange;
}